@import "tailwindcss";

@font-face {
	font-family: "MoC";
	src: url("/MountainsofChristmas-Regular.woff2") format("woff2"),
		url("/MountainsofChristmas-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--background: oklch(74.6% 0.16 232.661);
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--color-sky-400);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--color-sky-400);
	color: var(--foreground);
	font-family: "MoC", Arial, Helvetica, sans-serif;
}
